/* 背景画像のスタイル */
body {
    background-image: url('pexels-ketut-subiyanto-4245927.jpg');
    background-size: cover; /* 画像を画面全体に拡大縮小 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効 */
    background-position: center center; /* 画像を中央に配置 */
    height: 100vh; /* 画面全体の高さを設定 */
    margin: 0; /* 余白をなくす */
    backdrop-filter: blur(3px); /* ぼかしの度合いを指定 */
}

/* カスタムフォントのスタイル */
.custom-font {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: rgb(255, 204, 0); /*テキストの色*/
    text-shadow: 3px 3px 0 #fff; /* 横方向の影、縦方向の影、ぼかし量、影の色 */
    text-align: center;
    font-size: 80px; /* テキストのサイズを設定 */
    margin-top: 200px; /* 上部にマージンを追加して位置を下げる */
}

/* メインコンテンツのスタイル */
main {
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    height: calc(100vh - 60px); /* 画面全体の高さからヘッダーの高さを引く */
}

/* ボタンコンテナ */
.button-container {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* ボタン間のスペース */
}

.my-page-button {
    padding: 15px 30px; /* ボタンの内側のスペースを設定 */
    font-size: 15px; /* ボタンのフォントサイズを設定 */
    background-color: #88b1c2; /* ボタンの背景色を設定 */
    color: white; /* ボタンの文字色を設定 */
    border: none; /* ボタンの枠線を削除 */
    border-radius: 5px; /* ボタンの角を丸くする */
    cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
    text-align: center; /* ボタンのテキストを中央揃え */
    margin: 5px; /* ボタン間のスペースを設定 */
}
