/* 背景画像のスタイル */
body {
    background-image: url('pexels-gya-den-768256-2303781.jpg');
    background-size: cover; /* 画像を画面全体に拡大縮小 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効 */
    background-position: center center; /* 画像を中央に配置 */
    height: 100vh; /* 画面全体の高さを設定 */
    margin: 0; /* 余白をなくす */
}

/* カスタムフォントのスタイル */
.custom-font {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: rgb(255, 204, 0); /*テキストの色*/
    text-shadow: 3px 3px 0 #fff; /* 横方向の影、縦方向の影、ぼかし量、影の色 */
    text-align: center;
    font-size: 80px; /* テキストのサイズを設定 */
    margin-top: 200px; /* 上部にマージンを追加して位置を下げる */
}

/* メインコンテンツのスタイル */
main {
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    height: calc(100vh - 60px); /* 画面全体の高さからヘッダーの高さを引く */
}


/* ログインフォームのコンテナ */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.login-container {
    width: 100%;
    max-width: 320px;
    height: 350px; /* 高さを指定 */
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* コンテナ内の項目を水平方向に中央揃え */
    gap: 20px; /* 項目間のスペースを設定 */
}

/* フォームグループ */
.form-group {
    width: 90%;
    display: flex;
    flex-direction: column; /* 項目を縦に並べる */
    align-items: flex-start; /* 各入力フィールドを左揃え */
    margin-bottom: 20px;
}

/* ラベルと入力欄を縦に並べる */
.form-group label, .form-group input {
    width: 100%; /* ラベルと入力欄の幅を設定 */
    text-align: left; /* テキストを左揃え */
}

.form-group label {
    margin-bottom: 10px; /* ラベルと入力欄の間のスペース*/
}

/* ログインボタン */
.login-button {
    width: 100%; /* ボタンの幅を100%に設定 */
    max-width: 100px; /* ボタンの最大幅を設定 */
    padding: 10px; /* ボタンの内側のスペースを設定 */
    background-color: #88b1c2; /* ボタンの背景色を設定 */
    color: white; /* ボタンの文字色を設定 */
    border: none; /* ボタンの枠線を削除 */
    border-radius: 5px; /* ボタンの角を丸くする */
    cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
}

