{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>パスワード変更画面</title>
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>

<link href="https://fonts.googleapis.com/css2?family=Danfo&family=M+PLUS+Rounded+1c&family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_edit.css' %}">

<form method="POST">
    {% csrf_token %} 

<div class="custom-font">
<h1>パスワード変更画面</h1>
</div>  
        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">
    <!--{{ password_change_form.as_p }}-->

<body>
            {% if password_change_form.non_field_errors %}
                <div class="error">{{ password_change_form.non_field_errors }}</div>
            {% endif %}
            <div class="form-group">
                <label for="{{ password_change_form.password.id_for_label }}">{{ password_change_form.password.label }}</label>
                {{ password_change_form.password }}
                {% for error in password_change_form.password.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ password_change_form.confirm_password.id_for_label }}">{{ password_change_form.confirm_password.label }}</label>
                {{ password_change_form.confirm_password }}
                {% for error in password_change_form.confirm_password.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>

    <button class="form-button" type="submit">更新</button>
</form>
{% endblock %}
