{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Danfo&family=M+PLUS+Rounded+1c&family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">

<form method="POST">
    {% csrf_token %} 

        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">

    {{ password_change_form.as_p }}
    <!--<input type="submit" value="パスワード更新">-->
    <button class="form-button" type="submit">更新</button>
</form>
{% endblock %}
