<!-- ピンをクリックしたときの情報表示ページ（facility_detail.html） -->
<!DOCTYPE html>
<html>
<head>
    <title>Destination Detail</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVWmrJ3ty7utzecOnva4f2QQ3ryVYsqeI&callback=initMap" async defer></script>
    <script>
        var map;
        function initMap() {
            var destination = JSON.parse('{{ destination | escapejs }}');
            var location = {lat: destination.latitude, lng: destination.longitude};
            map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 15
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: destination.destination_name
            });
            var infowindow = new google.maps.InfoWindow({
                content: '<h3>' + destination.destination_name + '</h3>'
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>
</head>
<body>
    <h2>Destination Detail</h2>
    <div id="map" style="width: 500px; height: 500px;"></div>
    <p>Name: {{ destination.destination_name }}</p>
    <p>Latitude: {{ destination.latitude }}</p>
    <p>Longitude: {{ destination.longitude }}</p>
</body>
</html>

