{% extends "base.html" %}
{% load static %}
{% block title %}旅行記録投稿画面{{ block.super }}{% endblock %}
{% block content %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVWmrJ3ty7utzecOnva4f2QQ3ryVYsqeI&callback=initMap" async defer></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/picture_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/insert_TravelRecord.css' %}">

<div class="map-container" id='map'></div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

    {% bootstrap_javascript jquery='full' %} 
        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">
        
    <script>
        var map;
        var marker;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 2.5
            });

            // マップ上でクリックされたときにピンを立てるイベントリスナーを追加
            map.addListener('click', function(event) {
                placeMarker(event.latLng);
            });
        }

        function placeMarker(destination) {
            // 以前に立てられたマーカーがあれば削除
            if (marker) {
                marker.setMap(null);
            }
            // 新しいマーカーを立てる
            marker = new google.maps.Marker({
                position: destination,
                map: map
            });

            // 緯度と経度を取得
            var latitude = destination.lat();
            var longitude = destination.lng();

            // フォームの入力フィールドに緯度と経度を設定
            document.getElementById('id_latitude').value = latitude;
            document.getElementById('id_longitude').value = longitude;
        }   
    </script>    

        <div class="form-group">
            {{ insert_form.destination_name.label_tag }}<br>
            {{ insert_form.destination_name }}
        </div>
        <div class="form-group">
            {{ insert_form.date.label_tag }}<br>
            {{ insert_form.date }}
        </div>
        <div class="form-group">
            {{ insert_form.TravelRecord.label_tag }}<br>
            {{ insert_form.TravelRecord }}
        </div>
        <div class="form-group">
            {{ insert_form.latitude.label_tag }}<br>
            {{ insert_form.latitude }}
        </div>
        <div class="form-group">
            {{ insert_form.longitude.label_tag }}<br>
            {{ insert_form.longitude }}
        </div>
        <div class="form-group">
            {{ insert_form.picture.label_tag }}<br>
            {{ insert_form.picture }}
        </div>

            {{ insert_form.media }}
            
        <img id="picture-preview" class="preview" src="#" alt="Picture Preview" style="display:none;"/>
    
<button class="form-button" type="submit">登録</button>

    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const preview = document.getElementById('picture-preview');
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>

    </form>

    {% endblock %}


