{% extends "base.html" %}
{% load static %}
{% block title %}ToDoリスト登録画面{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/insert_TodoList.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>    

<!--    <form method="POST" enctype="multipart/form-data">-->
    <form method="post" id="TodoListInsertForm">
        {% csrf_token %}

        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">
<div class="custom-font">
<h1>Todoリスト登録画面</h1>
</div>        
            <!--{{ insert_form.as_p }}-->

        <div class="form-group">
            <label for="{{ insert_form.destination.id_for_label }}">{{ insert_form.destination.label }}</label>
            {{ insert_form.destination }}
            <div class="error-message" style="color: red;">
                {% for error in insert_form.destination.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ insert_form.todo_list.id_for_label }}">{{ insert_form.todo_list.label }}</label>
            {{ insert_form.todo_list }}
            <div class="error-message" style="color: red;">
                {% for error in insert_form.todo_list.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <!--<button class="form-button" type="submit">登録</button>-->
        <button class="form-button" type="submit" class="btn btn-primary" id="submitBtn">登録</button>
    </form>

    <script>
        $(function() {
            $('#TodoListInsertForm').on('submit', function(event) {
                let isValid = true;
                $(this).find('input[required], textarea[required]').each(function() {
                    if (!$(this).val().trim()) {
                        isValid = false;
                        $(this).next('.error-message').text('適切な入力をしてください。').show();
                    } else {
                        $(this).next('.error-message').hide();
                    }
                });

                if (!isValid) {
                    event.preventDefault();
                }
            });

            $('#TodoListInsertForm').find('input[required], textarea[required]').on('input', function() {
                if ($(this).val().trim()) {
                    $(this).next('.error-message').hide();
                } else {
                    $(this).next('.error-message').text('適切な入力をしてください。').show();
                }
            });
        });
    </script>
{% endblock %}

