{% extends "base.html" %}
{% load static %}

{% block title %}ToDoリスト登録画面{{ block.super }}{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/insert_TodoList.css' %}">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">

            {{ insert_form.as_p }}
        <!--<input type="submit" value="登録">-->
        <button class="form-button" type="submit">登録</button>
    </form>
{% endblock %}

