{% extends "base.html" %}
{% load static %}

{% block title %}
登録完了画面
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Danfo&family=M+PLUS+Rounded+1c&family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">

<div class="custom-font">
    <head>登録完了しました</head>
</div>

<div class="center-text">
    <a href="{% url 'TravelApp:insert_TodoList' %}" class="next-page-link">Todoリスト登録画面へ</a>
</div>
{% endblock %}


