{% extends "base.html" %}
{% load static %}

{% block add_header %}
    <title>Google Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVWmrJ3ty7utzecOnva4f2QQ3ryVYsqeI&callback=initMap" async defer></script>

{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/insert_TravelRecord.css' %}">

    <div class="map-container" id='map'></div>
    
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 1,
                center: {lat: 0, lng: 0} // Default center
            });

            var destinations = [
                {% for destination in destinations %}
                    {
                        lat: {{ destination.latitude }}, 
                        lng: {{ destination.longitude }},
                        info: '<div><h10>{{ destination.user_id.username }}</h10><p>{{ destination.destination_name }}</p><p>{{ destination.TravelRecord }}</p></div>'
                    },
                {% endfor %}
            ];

            var infoWindow = new google.maps.InfoWindow();

            for (var i = 0; i < destinations.length; i++) {
                var marker = new google.maps.Marker({
                    position: destinations[i],
                    map: map
            });

                google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                    return function() {
                        infoWindow.setContent(destinations[i].info);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                google.maps.event.addListener(marker, 'mouseout', function() {
                    infoWindow.close();
                });

            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVWmrJ3ty7utzecOnva4f2QQ3ryVYsqeI&callback=initMap" async defer></script>
{% endblock %}
