{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Danfo&family=M+PLUS+Rounded+1c&family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/regist.css' %}">
 
<div class="custom-font">
<h1>ユーザー登録画面</h1>
</div>

<form method="POST">

    {% csrf_token %}  

        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">

    {{ form.as_p }}
    <!--<input type="submit" value="ユーザー登録">-->
    <button class="form-button" type="submit">登録</button>
</form>
{% endblock %}
