{% extends 'base.html'%}
{% block content %}
<h1>ToDoリスト</h1>
<table>
    <tr>
        <th>No.</th>
        <th>旅行先</th>
        <th>やりたいこと</th>
        <th>完了</th>
    </tr>
    {% for todolist in todolists %}
    <tr>
        <td><a href="{% url 'TravelApp:update_TodoList' TodoList_id=todolist.TodoList_id %}">{{ todolist.TodoList_id }}</a></td>
        <td>{{ todolist.destination }}</td>
        <td>{{ todolist.todo_list }}</td>
        <td><input type="checkbox" {% if todolist.complete_flg %} checked {% endif %}></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
