{% extends "base.html" %}
{% load static %}
{% block add_header %}
        <meta charset="utf-8">
        <title>Todo</title>
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Danfo&family=M+PLUS+Rounded+1c&family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/Todo.css' %}">
<div class="custom-font">
        <head>Todo📝</head>
</div>

<div class="button-container">
<div class="button-group">
        <button class="my-page-button" onclick="location.href='{% url 'TravelApp:user' %}'">マイページへ</button>
        <button class="my-page-button" onclick="location.href='{% url 'TravelApp:insert_TodoList' %}'">Todoリスト登録</button>
        <button class="my-page-button" onclick="location.href='{% url 'TravelApp:Todo_List' %}'">Todoリスト</button>
</div>
{% endblock %}

