{% extends "base.html" %}
{% load static %}
{% block add_header %}
        <meta charset="utf-8">
        <title>Todo</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
<div class="center-text">
        <h1>Todo📝</h1>
</div>

<div class="center-button-container">
        <button onclick="location.href='{% url 'TravelApp:insert_TodoList' %}'">Todoリスト登録</button>
        <button onclick="location.href='{% url 'TravelApp:Todo_List' %}'">Todoリスト</button>
</div>
{% endblock %}