{% extends "base.html" %}
{% block title %}旅行記録編集画面{{ block.super }}{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {% bootstrap_javascript jquery='full' %} 
            {{ update_form.media }}
            {{ update_form.as_p }}
        <input type="submit" value="更新">
        <p><img src={{ destination.picture.url }}></img></p>
    </form>
    <p><a href="{% url 'TravelApp:delete_destination' destination_id=destination.destination_id %}">削除する</a></p>
{% endblock %}
