{% extends "base.html" %}
{% load static %}

{% block title %}Todoリスト編集画面{{ block.super }}{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_TodoList.css' %}">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">

            {{ update_form.as_p }}
        <button class="form-button" type="submit">更新</button>
    </form>
    <p><a href="{% url 'TravelApp:delete_TodoList' TodoList_id=todolist.TodoList_id %}">削除する</a></p>
{% endblock %}

