{% extends "base.html" %}
{% load static %}
{% block title %}旅行記録編集画面{% endblock %}
{% block content %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVWmrJ3ty7utzecOnva4f2QQ3ryVYsqeI&callback=initMap" async defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/picture_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_destination.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>    
    
    <script>
        function confirmDelete(event) {
            if (!confirm("本当に削除しますか？")) {
                event.preventDefault();
            }
        }
    </script>

<div class="map-container" id='map'></div>  
    <form method="POST" enctype="multipart/form-data", id="DestinationUpdateForm">
    <form action="{% url 'TravelApp:update_destination' destination.destination_id %}" method="post">

    {% csrf_token %}
    {% bootstrap_javascript jquery='full' %} 
        <div class="form-wrapper">
        <div class="form-container">
        <div class="form-group">

    <script>
        var map;
        var marker;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 2
            });

            // マップ上でクリックされたときにピンを立てるイベントリスナーを追加
            map.addListener('click', function(event) {
                placeMarker(event.latLng);
            });
        }
            function placeMarker(destination) {
                // 以前に立てられたマーカーがあれば削除
                if (marker) {
                    marker.setMap(null);
                }
                // 新しいマーカーを立てる
                marker = new google.maps.Marker({
                    position: destination,
                    map: map
                });

                // 緯度と経度を取得
                var latitude = destination.lat();
                var longitude = destination.lng();
            
                // フォームの入力フィールドに緯度と経度を設定
                document.getElementById('id_latitude').value = latitude;
                document.getElementById('id_longitude').value = longitude;
            }
            document.addEventListener('DOMContentLoaded', function() {
                if (typeof google !== 'undefined' && google.maps && typeof google.maps.Map === 'function') {
                    initMap();
                } else {
                    const script = document.createElement('script');
                    script.src = `https://maps.googleapis.com/maps/api/js?key=AIzaSyAVWmrJ3ty7utzecOnva4f2QQ3ryVYsqeI&callback=initMap`;
                    document.body.appendChild(script);
                }
            });
    </script>

<div class="custom-font">
<h1>旅行記録編集画面</h1>
</div>  
            <div class="form-group">
                <label for="{{ update_form.destination_name.id_for_label }}">{{ update_form.destination_name.label }}</label>
                {{ update_form.destination_name }}
                <div class="error-message" style="color: red;">
                    {% for error in update_form.destination_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ update_form.date.id_for_label }}">{{ update_form.date.label }}</label>
                {{ update_form.date }}
                <div class="error-message" style="color: red;">
                    {% for error in update_form.date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ update_form.TravelRecord.id_for_label }}">{{ update_form.TravelRecord.label }}</label>
                {{ update_form.TravelRecord }}
                <div class="error-message" style="color: red;">
                    {% for error in update_form.TravelRecord.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ update_form.latitude.id_for_label }}">{{ update_form.latitude.label }}</label>
                {{ update_form.latitude }}
                <div class="error-message" style="color: red;">
                    {% for error in update_form.latitude.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ update_form.longitude.id_for_label }}">{{ update_form.longitude.label }}</label>
                {{ update_form.longitude }}
                <div class="error-message" style="color: red;">
                    {% for error in update_form.longitude.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
       
        <div class="form-group">
            {{ update_form.picture.label_tag }}<br>
            {{ update_form.picture }}
        </div>
        
            {% bootstrap_javascript jquery='full' %} 
            {{ update_form.media }}    
       
    <div class="form-group">
        {% if destination.picture %}
            <div class="image-container">
                <p><img id="picture-preview" src="{{ destination.picture.url }}" alt="Picture Preview"></p>
            </div>
        {% endif %}

<div class="button-container">
    <button class="form-button" type="submit">更新</button>
    <button type="button" id="delete-button" class="delete-button">削除</button>
    <!--<p><a href="{% url 'TravelApp:delete_destination' destination_id=destination.destination_id %}" class="next-page-link">削除画面へ</a></p>-->
</div>
    <script>
        document.getElementById("delete-button").addEventListener("click", function() {
            window.location.href = "{% url 'TravelApp:delete_destination' destination_id=destination.destination_id %}";
        });
    </script>

    <script>
        $(function() {
            $('#DestinationUpdateForm').on('submit', function(event) {
                let isValid = true;
                $(this).find('input[required], textarea[required]').each(function() {
                    if (!$(this).val().trim()) {
                        isValid = false;
                        $(this).next('.error-message').text('適切な入力をしてください。').show();
                    } else {
                        $(this).next('.error-message').hide();
                    }
                });

                if (!isValid) {
                    event.preventDefault();
                }
            });

            $('#DestinationUpdateForm').find('input[required], textarea[required]').on('input', function() {
                if ($(this).val().trim()) {
                    $(this).next('.error-message').hide();
                } else {
                    $(this).next('.error-message').text('適切な入力をしてください。').show();
                }
            });
        });
    </script>
</form>
{% endblock %}

