{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>ユーザー情報編集画面</title>
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>

<link href="https://fonts.googleapis.com/css2?family=Danfo&family=M+PLUS+Rounded+1c&family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_edit.css' %}">

<form method="POST" enctype="multipart/form_data">
    {% csrf_token %}  

<div class="custom-font">
<h1>ユーザー情報編集画面</h1>
</div> 
    <div class="form-wrapper">
    <div class="form-container">
    <div class="form-group"> 

    {{ user_edit_form.as_p }}

<div class="button-container">
    <button type="button" id="user-button" class="user-button">マイページへ</button>
    <button class="form-button" type="submit">更新</button>
    <button type="button" id="passwordchange-button" class="passwordchange-button">パスワード変更画面へ</button>
    <!--<a href="{% url 'TravelApp:change_password'%}" class="next-page-link">パスワード変更画面へ</a>-->
</div>
    <script>
        document.getElementById("user-button").addEventListener("click", function() {
            window.location.href = "{% url 'TravelApp:user' %}";
        });
    </script>

    <script>
        document.getElementById("passwordchange-button").addEventListener("click", function() {
            window.location.href = "{% url 'TravelApp:change_password' %}";
        });
    </script>

        </form>    
    </body>
{% endblock %}

