{% extends "base.html" %}
{% load static %}

{% block title %}
ユーザー情報更新完了画面
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Danfo&family=M+PLUS+Rounded+1c&family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

<div class="custom-font">
    <head>更新完了しました</head>
</div>
        <!--<button class="form-button" onclick="location.href='{% url 'TravelApp:change_password' %}'">パスワード変更画面へ</button>-->
<div class="center-text">
        <!--<button type="button" class="form-button" onclick="goBack()">戻る</button>-->
        <button class="form-button" onclick="location.href='{% url 'TravelApp:user_edit' %}'">戻る</button>
</div>
{% endblock %}

